@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(faune-regular.woff2), url(faune-regular.woff2);
}

@font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(faune-regular.woff2), url(faune-regular.woff2);
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    font-style: bold;
    src: url(faune-regular.woff2), url(faune-regular.woff2);
}

body{
    font-family: "Faune";
    font-size: 16px;
    line-height: 1.5;
}