@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(faune-regular.woff2), url(faune-regular.woff2);
}

@font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(faune-regular.woff2), url(faune-regular.woff2);
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    font-style: bold;
    src: url(faune-regular.woff2), url(faune-regular.woff2);
}

body{
    font-family: "Faune";
    font-size: 16px;
    line-height: 1.5;

    background-color:  #2a2a2a;
    color: #fff;
    margin: 0 0 0 280px;
    padding: 80px;


}

section.options{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    padding: 40px;
    background-color: #2a2a2a;
    color: #ffffff;
    border-right: 1px solid #444444;
    box-sizing:border-box;
}


}

h1 {
    font-weight: 700;
    font-size: 24px;
}

div.option {
    margin: 10px 0 0 0;
}

label{
    margin: 0 0 5px 0;
    display: block;
}

input[type="text"]{
    width: 100%;
    background-color: #575757;
    border: none;
    color: #fff;
    padding: 5px 8px 5px 8px;
    box-sizing:border-box;
    font-family: "Faune";
    font-size: 16px;
}